<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595771203712-1njar540j4u94vevn44sts994pvcvhqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595771203712-1njar540j4u94vevn44sts994pvcvhqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDrju8sHpZuGLIlMBCPiMgHzXjtQTgKYs8</string>
	<key>GCM_SENDER_ID</key>
	<string>595771203712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.live-chat-firebase</string>
	<key>PROJECT_ID</key>
	<string>rn06livechat</string>
	<key>STORAGE_BUCKET</key>
	<string>rn06livechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595771203712:ios:f2ffddfce7bd8cf7134665</string>
	<key>DATABASE_URL</key>
	<string>https://rn06livechat-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>